body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

h1, h2, h3 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}